

/* Font used for big text =   Akzidenz-Grotesk  */
body {
    background-color: #f8f9fa; /* Light gray background for subtle contrast */
    color: #212529; /* Dark gray text for readability */
    font-family: sans-serif, Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif; /* Clean and widely supported font */
    margin: 0;
    padding: 0;
}

.logoimg{
    color: white !important;
    width: 50px;
    height: 50px;
}
.container-fluid{
    color: white !important;
    display: flex;
    justify-content: space-between;
   
}
.nabarbtns > ul{
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nabarbtns > ul > li{
    display: flex;
    margin: 2px 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}
.maincontainer{
    width: 50%;
    height: 100vh;
    display: flex;
 
    height: 100vh; /* Full viewport height */
    background-color: #f8f9fa; 

}
   
/*   Blood Bag Animation  */
#lottie-animation {
    width: 100%;
    height: 500px;
    margin: auto;
  }
.bigtext{
    display: flex;
    margin-top: 50px;
    margin-left: 25%;
    font-size: 4rem;
    font-weight: bold;
}
.subText{
    /* background-color: aqua;  */
    display: flex;
    margin-top: 50px;
    margin-left: 25%;
    font-size: 2.5rem;
    font-weight: bold;
}
.btnn{
   
    display: flex;
    margin-top: 50px;
    margin-left: 25%;
    
    font-weight: bold;
}

.stats-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto;
    flex-wrap: wrap;
  }
  
  .stat-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    padding: 1.5rem;
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease;
  }
  
  .stat-card:hover {
    transform: translateY(-5px);
  }
  
  .circle {
    width: 80px;
    height: 80px;
    border: 4px solid rgb(228, 19, 19);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: crimson;
  }
  
  .stat-card p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }

  .stat-card h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #333;
  }